# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore Terraform plan files
*.tfplan
tfplan

# Ignore .terraform directories
.terraform/
.terraform*

# Ignore backup files
*.backup

# Ignore log files
*.log

resource.list